#Ignore all files in the .env directory
.env

#Ignore the virtual environment
clinic-env/*
clinic-env

#Ignore the __pycache__ directory
__pycache__/

# Ignore scripts
scripts/*
scripts

#Ignore patient_registration.log
patient_registration*

#Ignore the database
clinic_mate.db

#Ignore the call_summaries
call_summary*

#Ignore generate_test_summary.py
generate_test_summary.py


