python-dotenv
fastapi
uvicorn
sqlmodel
pydantic
aiofile
twilio
websocket-client
livekit
livekit-agents
livekit-api
livekit-plugins-openai
livekit-plugins-deepgram
livekit-plugins-silero
livekit-plugins-elevenlabs
asyncio
typing-extensions




